#attackButton {
	margin-top:30px;
	margin-bottom:30px;
}

#obiWanKenobi {
	text-align:center;
	border-color:red;
	border:2px;
	border-style:solid;
}

#lukeSkywalker {
	text-align:center;
	border-color:red;
	border:2px;
	border-style:solid;
}

#darthSidious {
	text-align:center;
	border-color:red;
	border:2px;
	border-style:solid;
}

#darthMaul {
	text-align:center;
	border-color:red;
	border:2px;
	border-style:solid;
}